::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5rem;
  background-color: #564b4b;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #121212;
  box-shadow: 0 0 0.0625rem #121212;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #121212;
}
